@import url('./header.css');
@import url('./content.css');

:root{

    --principal-pink: #D658B3;
    --principal-green: #45B442;
    
    --base-gray-700: #332B31;
    --base-gray-600: #4A4448;
    --base-gray-500: #756C71;
    --base-gray-400: #D3CFD2;
    --base-gray-300: #DFDCDF;
    --base-gray-200: #E9E7E9;
    --base-gray-100: #F4F1F2;
    --base-white: #FFFFFF;

    --gradiente: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);


    --font-family: "Oxygen", sans-serif;
    --title-md: 600 1.5rem/1.4 var(--font-family);
    --title-sm: 600 1.125rem/1.4 var(--font-family);
    --subtitle-md: 600 0.875rem/1.4 var(--font-family);
    --subtitle-sm: 600 0.75rem/1.4 var(--font-family);
    --text-md: 400 1rem/1.4 var(--font-family);
    --text-sm: 400 0.875rem/1.4 var(--font-family);
    --text-xs: 400 0.75rem/1.4 var(--font-family);

    background-color: var(--base-gray-100);
}


